

/* 背景壁纸 */
body {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to bottom right, #1E3A48, #C99E8C);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    font-family: "黑体", sans-serif;
    font-weight: bold;
}

.logo {
    transition: transform 0.3s ease-in-out;
}

.logo:hover {
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

.post {
    max-width: 100%;
    max-height: 100%;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 10px;
    margin: 20px;
    position: relative;
}

.post::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    box-shadow: 0 0 20px #1E3A48;
    animation: shadow-color 5s ease-in-out infinite alternate;
}

@keyframes shadow-color {
    0% {
        box-shadow: 0 0 20px #E5DFEB;
    }
    25% {
        box-shadow: 0 0 20px #EFE8D6;
    }
    50% {
        box-shadow: 0 0 20px #F2D3CB;
    }
    75% {
        box-shadow: 0 0 20px #9591B3;
    }
    100% {
        box-shadow: 0 0 20px #C8A4B9;
    }
}

.btn-copy {
    float: right;
}

.single-content {
    overflow: auto;
  }

.home {
    max-width: 100%;
    max-height: 100%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin: 20px;
}

.footer {
    text-align: center;
}

.list {
    margin: 10px;
    font-size: 1em;
}

.list a {
    text-align: left;
    color: #1E3A48;
    text-decoration: none;
}

.list a:hover {
    color: #1e90ff;
}

.list span {
    font-size: 0.8em;
    color: #aaa;
    float: right;
}

.title-img {
    max-width: 20%;
    height: auto;
    margin: 0 auto;
    display: block;
    border-radius: 10px;
}

.nav {
    max-width: 100%;
    max-height: 100%;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 10px;
    margin: 20px;
    position: relative;
    text-align: center;
}

.nav::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    animation: shadow-color 5s ease-in-out infinite alternate;
}


.nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav li {
    display: inline-block;
    position: relative;
}

.nav a {
    display: block;
    padding: 10px;
    color: #1E3A48;
    text-decoration: none;
}

.nav a:hover {
    color: #1e90ff;
}

.nav ul ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #f2f2f2;
    padding: 0;
}

.nav ul li:hover > ul {
    display: block;
}

.nav ul ul li {
    display: block;
    width: 200px;
}

.nav ul ul a {
    padding: 5px 10px;
}

.nav ul ul ul {
    top: 0;
    left: 100%;
}

.footer-nav {
    max-width: 100%;
    max-height: 100%;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 10px;
    margin: 20px;
    position: relative;
    text-align: center;
}

.footer-nav::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    animation: shadow-color 5s ease-in-out infinite alternate;
}


.footer-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer-nav li {
    display: inline-block;
    position: relative;
}

.footer-nav a {
    display: block;
    padding: 10px;
    color: #1E3A48;
    text-decoration: none;
}

.footer-nav a:hover {
    color: #1e90ff;
}

.footer-nav ul ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #f2f2f2;
    padding: 0;
}

.footer-nav ul li:hover > ul {
    display: block;
}

.header-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}

.header-box h1 {
    font-size: 2em;
    margin: 0;
    padding: 15px;
}

.header-box a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.headre-box a:hover {
    color: #1e90ff;
}

/* 圆形 */
.header-box img {
    width: 80px;
    height: 80px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 50%;
}

.pagination {
    text-align: center;
    margin: 20px;
    padding-bottom: 2px;
}

.current-page{
    text-align: center;
    margin: 20px;
    color: #1E3A48;
}

.prev, .next {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    text-indent: -9999px;
}

.prev:hover, .next:hover {
    background-color: #f2f2f2;
}

.prev {
    background-image: url(/assets/left.png);
    float: left;
}

.next {
    background-image: url(/assets/right.png);
    float: right;
}

.featured-image {
    max-width: auto;
    height: auto;
    margin: 0 auto;
    display: block;
    border-radius: 10px;
}

.post-title {
    font-size: 1.5em;
    margin: 0;
    padding: 2px;
    text-align: center;
    text-decoration: none;
    color: #1E3A48;
    text-shadow: 0 0 10px #1E3A48;
}

img {
    max-width: 100%;
    height: auto;
}

